
*, body, html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.resolved{
    text-decoration:line-through;
    color:#cccccc;
    background-color: #8a8b7e;
}
.checkbox{
    width: 100px;
}
.checkbox-2 {
    cursor: pointer;
    display: block;
}
.checkbox-2 input {
    display: none;
}
.checkbox-2 input + span {
    display: block;
    position: relative;
    float: left;
    width: 40px;
    height: 25px;
    margin-right: 20px;
    background-color: #E76B6B;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}
.checkbox-2 input:checked + span {
    background-color: #249991;
}
.checkbox-2 input + span:before {
    content: '';
    position: absolute;
    top: 2%;
    left: -8px;
    height: 96%;
    width: 25px;
    background-color: #fefefe;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 5px -5px 10px 5px rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.7);
}
.checkbox-2 input:checked + span:before {
    left: 24px;
}
.task_text{
    font-size: 20px;
    font-style: italic;
}

